<http lang="en">

<%- include('./partials/_layout.ejs') %>

<!-- Добавить список объявлений (виден всем) -->

<section class="home" id="home">
    <div class="intro">
        <div class="container">
          <h6 class="text p-0 mt-4"> Объявления </h6>
            <div class="content">

              <div class="p-3 m-2 border-0">
                <!-- Example Code -->
                
                <ul class="list-group">
                  <% if (ads) { for (var i in ads) { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">

                      <div class="ms-2 me-auto">
                        <div class="fw">
                          <% if (ads[i].translate) { %> ★ <% } %>
                          <strong> <%= ads[i].name %> </strong> <small>(до <%= ads[i].timeOfLife %>) <i> <%= ads[i].author %> </i></small> 
                        </div>
                        <%= ads[i].comment %> 
                      </div>

                      <% if (session.loggedin && ((session.role === 'admin') || (session.role === 'moder') || (session.role === 'adsender'))) { %>
                        <form action="/ads/del" method="post">
                          <span class="badge">
                            <button name="id" type="submit" value="<%= ads[i].id%>" class="btn btn-outline-danger btn-sm">Удалить</button>
                          </span>
                        </form>
                      <% } %>
                    </li>
                  <% } } %>
                </ul>

                <% if (session.loggedin && ((session.role === 'admin') || (session.role === 'moder') || (session.role === 'adsender'))) { %>
                  <br>
                  <form action="/ads/" method="post">
                      
                      <div class="mb-3">
                        <label for="name" class="form-label">Уведомление</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Заголовок уведомления"/>
                      </div>
                      <div class="mb-3">
                        <label for="comment" class="form-label">Сообщение</label>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                      </div>
                      <div class="row-gap-3 row align-items-center">
                        <div class="col form-check form-switch" style="margin-left: 12px">
                          <input name="translate" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"/>
                          <label class="form-check-label" for="flexSwitchCheckChecked">
                            Отображать на трансляции
                          </label>
                        </div>
                        <div class="col form-check form-switch" style="margin-left: 12px">
                          <input name="unlimited" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"/>
                          <label class="form-check-label" for="flexSwitchCheckChecked">Бессрочное объявление</label>
                        </div> 
                        Актуально до:
                        <input name="time" value="" id="addDate" class="col form-control" type="date" style="margin-left: 12px; margin-right: 12px" min="2023-01-26" max="2024-01-30"/>
                      </div>
                      <div class="col" style="margin-top: 6px">
                        <button class="btn btn-success" type="submit">
                          Отправить уведомление
                        </button>
                      </div>
                    </div>
                  </form>
                  <script type="text/javascript">
                    let date_ob = new Date();
                    let dd = ("0" + date_ob.getDate()).slice(-2);
                    let mm = ("0" + (date_ob.getMonth() + 1)).slice(-2);
                    let yyyy = date_ob.getFullYear();
                    let minDate = yyyy + '-' + mm + '-' + dd;
                    let maxDate = (Number(yyyy) + 1) + '-' + mm + '-' + dd;
                    document.getElementById('addDate').min = minDate;
                    document.getElementById('addDate').max = maxDate;
                    document.getElementById('addDate').value = minDate;
                  </script>
                <% } %>
              </div>
            </div>
        </div>
    </div>
</section>